@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}
