@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

p, h1, h2, h3, h4, h5, h6, span, div {
  user-select: text;
  -webkit-user-select: text;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
